
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Gidachi Travels and tour is one of the best travel agencies in Nigeria that enables their clients to  ">
    <meta name="author" content="Gidachi Travels & Tour">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>Travel and tour the globe with Gidachi || Travel and touring service in Nigeria</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="static/assets/css/style.css">
    <link rel="stylesheet" href="static/assets/css/animated.css">
    <link rel="stylesheet" href="static/assets/css/owl.css">

  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <img src="static/assets/images/logo.png" alt="Gidachi Travels and Tour">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="#services">Services</a></li>
              <li class="scroll-to-section"><a href="#about">About</a></li>
              <li class="scroll-to-section"><a href="#testimonials">Testimonials</a></li>
              <li><div class="gradient-button"><a id="modal_trigger" href="mailto:hello@gidachi.comm.ng"><i class="fa fa-sign-in-alt"></i> Make Enquiries</a></div></li> 
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
  
  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Take on the Globe with Confidence</h2>
                    <p>Gidachi Travels and Tour is a travel agency that s focused on making your travel experiences the best they can be </p>
                  </div>
                  <div class="col-lg-12">
                    <div class="white-button first-button scroll-to-section">
                      <a href="tel:08034393077">We're always available. Give us a call <i class="fa fa-phone"></i></a>
                    </div>
                    <div class="white-button scroll-to-section">
                      <a href="mailto:hello@gidachi.com.ng">send email <i class="fa fa-envelope"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="static/assets/images/slider-dec.png" width="200", height="415" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4>Amazing <em>Travel Services</em> for you</h4>
            <img src="static/assets/images/heading-line-dec.png" alt="">
            <p>When you're travelling the worLd with us, you can take on the globe with confidence</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="service-item first-service">
            <div class="icon"></div>
            <h4>Flight booking</h4>
            <p>We book quality flights from the comfort zone of our clients tailored to their needs and budgets</p>
            <div class="text-button">
              <a href="mailto:hello@gidachi.com.ng">Make an Enquiry <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item second-service">
            <div class="icon"></div>
            <h4>Reservations</h4>
            <p>We help our clients make reservations at locations best suited to their needs around the world</p>
            <div class="text-button">
              <a href="mailto:hello@gidachi.com.ng">Make an Enquiry <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item third-service">
            <div class="icon"></div>
            <h4>Tour Package</h4>
            <p>With our tour packages, clients are be able to flawlessly travel to various delightful places </p>
            <div class="text-button">
              <a href="mailto:hello@gidachi.com.ng">Make an Enquiry <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item fourth-service">
            <div class="icon"></div>
            <h4>Health packages</h4>
            <p>We help our clients cover the necessary health packages and for our clients to be healthy at their new locations</p>
            <div class="text-button">
              <a href="mailto:hello@gidachi.com.ng">Make an Enuiry<i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="service-item fifth-service">
            <div class="icon"></div>
            <h4>Travel Insurance</h4>
            <p>We help our clients cover their travel insurance to protect them from unforeseen circumstances faced in travelling</p>
            <div class="text-button">
              <a href="mailto:hello@gidachi.com.ng">Make an Enquiry <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item sixth-service">
            <div class="icon"></div>
            <h4>Airport Pickup</h4>
            <p>We help our clients keep in touch with the people that'll direct them to thier places of reservsation and we can also send our representatives</p>
            <div class="text-button">
              <a href="mailto:hello@gidachi.com.ng">Make an Enquiry <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item seventh-service">
            <div class="icon"></div>
            <h4>Study Abroad</h4>
            <p>With help our clients with the necessary travelling services to further their educations in the schools of their dreams around the world</p>
            <div class="text-button">
              <a href="mailto:hello@gidachi.com.ng">Make an Enquiry <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item eigth-service">
            <div class="icon"></div>
            <h4>Corporate Conference Package</h4>
            <p>We help our clients with the necessary packages to prepare them for their conference programs abroad</p>
            <div class="text-button">
              <a href="mailto:hello@gidachi.com.ng">Make an Enquiry<i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about" class="about section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h4>About <em>What We Do</em> &amp; Who We Are</h4>
            <img src="static/assets/images/heading-line-dec.png" alt="">
            <p>Gidachi Travels and tours is the Number One go to satisfy your travelling and touring needs.</p>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">1000+ happy customers</a></h4>
                <p></p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">24/7 Support &amp; Help</a></h4>
                <p>We're always available</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">High Quality Services</a></h4>
                <p></p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">5100+ booked reservations</a></h4>
                <p></p>
              </div>
            </div>
            <div class="col-lg-12">
              <p>We offer high quality services that help our clients explore the world with confidence. With our 19+ years of experience we've made our over 1000 customers happy. Feel free to get in touch to experience our services</p>
              <div class="gradient-button">
                <a href="mailto:hello@gidachi.com.ng">Make an Enquiry</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
            <video width="420" height="340" controls autoplay loop>
              <source src="static/assets/images/about.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="testimonials" class="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>See What<em> Our Clients Say</em> About Our Services</h4>
            <img src="static/assets/images/heading-line-dec.png" alt="">
            <p>Here are some of many testimonies about our services</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="grid">
              <div class="row">
                </div> 
                <div class="col-lg-5">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <img src="static/assets/images/quote.png" alt="">
                                <p>“Gidachi helped me achieve my dreams of studying medicine in london. Their services are so outstanding and I didn't go through any stress in the process, it was easy and smooth and now I'm in my 3rd year”</p>
                              </div>
                              <div class="down-content">
                                <img src="static/assets/images/client-image.jpg" alt="">
                                <div class="right-content">
                                  <h4>Preferred Anonymous</h4>
                                  <span>Student</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <img src="static/assets/images/quote.png" alt="">
                                <p>“Lorem ipsum dolor sit amet, consectetur adpiscing elit, sed do eismod tempor idunte ut labore et dolore magna aliqua darwin kengan
                                  lorem ipsum dolor sit amet, consectetur picing elit massive big blasta.”</p>
                              </div>
                              <div class="down-content">
                                <img src="static/assets/images/client-image.jpg" alt="">
                                <div class="right-content">
                                  <h4>Random Staff</h4>
                                  <span>Manager, Digital Company</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <img src="static/assets/images/quote.png" alt="">
                                <p>“Mark, Lorem ipsum dolor sit amet, consectetur adpiscing elit, sed do eismod tempor idunte ut labore et dolore magna aliqua darwin kengan
                                  lorem ipsum dolor sit amet, consectetur picing elit massive big blasta.”</p>
                              </div>
                              <div class="down-content">
                                <img src="static/assets/images/client-image.jpg" alt="">
                                <div class="right-content">
                                  <h4>Mark Am</h4>
                                  <span>CTO, Amber Do Company</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>          
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer id="newsletter">
      <div class="row">
        <div class="col-lg-4">
          <div class="footer-widget">
            <h4>Contact Us</h4>
            <p><i class="fa fa-map-marker"></i>  No 20 Adeyinka Street, Ilupeju, Lagos</p>
            <p><i class="fa fa-phone"></i><a href="tel:08034393077"> 08034393077</a></p>
            <p><i class="fa fa-envelope"></i><a href="mailto:hello@gidachi.com.ng"> hello@gidachi.com.ng</a></p>
            <p><i class="fa fa-envelope"></i><a href="mailto:oluwafemi@gidachi.com.ng"> oluwafemi@gidachi.com.ng</a></p>
            <p><i class="fa fa-envelope"></i><a href="mailto:travel@gidachi.com.ng"> travel@gidachi.com.ng</a></p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="footer-widget">
            <h4>About Us</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#testimonials">Testimonials</a></li>
            </ul>
            <ul>
              <li><a href="#about">About</a></li>
              <li><a href="#testimonials">Testimonials</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="footer-widget">
            <h4>About Our Company</h4>
            <p>Gidachi Travels and tours is the Number One go to satisfy your travelling and touring needs. We offer high quality services that help our clients explore the world with confidence. With our 19+ years of experience we've made our over 1000 customers happy. Feel free to get in touch to experience our services</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright © 2022 Gidachi Travels and tours. All Rights Reserved. </p>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <!-- Scripts -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/js/owl-carousel.js"></script>
  <script src="static/assets/js/animation.js"></script>
  <script src="static/assets/js/imagesloaded.js"></script>
  <script src="static/assets/js/popup.js"></script>
  <script src="static/assets/js/custom.js"></script>
</body>
</html>